# Dependencies
node_modules/

# Environment files
.env
.env.*
!.env.example

# Logs
logs/
*.log
npm-debug.log*

# Testing & coverage artifacts
coverage/

# OS and Editor artifacts
.DS_Store
Thumbs.db
.vscode/
.idea/
